#mpd ignores
music/.config/mpd/database
music/.config/mpd/log
music/.config/mpd/state
music/.config/mpd/sticker
music/.ncmpcpp/error.log
vim/.vim/.netrwhist
vim/.vim/autoload/*
vim/.vim/plugged/*
vim/.vim/swaps/*
vim/.vim/undos/*
vim/.vim/sessions/*
i3/.config/i3/logfile
