[Unit]
Description=my radio stream yaaah
After=network.target
Wants=sol_tunnel.service

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/mpv --quiet http://sol.vathsan.com:8000/mpd.m3u

[Install]
WantedBy=graphical.target
