[Unit]
Description=Tunnel for Sol 
After=network.target

[Service]
Restart=on-failure
RestartSec=20
ExecStart=/usr/bin/ssh -NT -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -L 6600:localhost:6600 sri@sol.vathsan.com

[Install]
WantedBy=multi-user.target
